.results-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-self: center;

  }
  
  .results-table {
    width: 100%;
    margin-top:10px ;
    min-height:400px;
    max-height:700px;

    scroll-behavior: auto;
    border-collapse: collapse;
    box-shadow:5px 10px 5px 10px rgb(197, 195, 195) ;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden; /* to ensure rounded corners are visible */
  }
  .table-title{
    text-align: center;
    font-size:4rem;
  }
  .results-table th,
  .results-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .results-table th {
    background-color: #f2f2f2;
  }
  
  .results-table tr:hover {
    background-color: #f9f9f9;
  }
  
  .results-table td:hover {
    background-color: #e2e2e2;
  }
  
  .results-table td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .chart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    padding-top:40px ;
    border-radius: 10px;
    
    box-shadow: 5px 10px 5px 10px rgb(199, 199, 199);
  }
  
  .chart-container canvas {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 20px;
  }
  
  