.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-section h1 {
    margin-top: 0;
}

.profile-section p {
    margin: 10px 0;
}